
h1{
    color: black;
}
a{
    color: rgb(254, 254, 254);
	margin: 100px;
	display: flexbox;
	align-items: center;
  position: relative;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  margin-top: 10px;
  background-color: rgb(67, 168, 74);
  text-decoration: none;
}
a:hover{
  background-color: transparent;
  border: 4px solid rgb(12, 133, 22);
  color: rgb(9, 9, 9) ;
}

p{
     color: rgb(0, 0, 0);
}

.div .caja h1{
    text-align: center;
    color: white;
}
.div{
	
    margin: 40px;
    border: 4px solid rgb(6, 6, 63);
    padding: 20px;
    background-color: #23cd72;
}

.div .nav ul {
    text-align: center;
}

.caja{
    margin: 40px;    
    background-color: rgb(26, 26, 134);
}

.caja a{
    color: white;
}

.b1{
    background-color: aqua;
    margin-left: 450px;
    margin-right: 40px;
    text-align: left;
}
.b2{
    background-color: aqua;
    margin-left: 80px;
    margin-right: 20px;
    text-align: center;
}
.b3{
    background-color: aqua;
    margin-left: 100px;
    text-align: right;
}

.pie{
    margin: 40px;
    border: 4px solid rgb(6, 6, 63);
    padding: 20px;
    background-color: #23cd72;
}
#sobremi{
	-webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
    margin: 40px;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
}
#proyectos{
	-webkit-animation: slide-in-left 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	animation: slide-in-left 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    margin: 40px;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
}
#relleno{
	-webkit-animation: slide-in-left 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	animation: slide-in-left 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    margin: 40px;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
}


html,
body {
	height: 50%;
	align-items: center;
	justify-content: center;
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	animation: color-change-2x 2s linear infinite alternate both;
}
.div .nav ul{
    text-align: center;
    margin-left: 40px;
    padding: 20px;
}
.box {
	display: flex;
}

.box .inner {
	width: 800px;
	height: 200px;
	line-height: 200px;
	font-size: 4em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: rgb(6, 6, 99);
	color: rgb(136, 150, 32);
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: rgb(30, 100, 230);
	color: rgb(218, 241, 14);
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: relative;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2025-9-23 13:30:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-9-23 13:32:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation SOBREMI
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-9-23 13:35:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * ANIMATION PROYECTO
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}

